@charset "utf-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #39caff;
}
body {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #333;
  background-image: url("https://media.istockphoto.com/id/1458449584/ko/%EB%B9%84%EB%94%94%EC%98%A4/%EB%B3%84%EC%9D%B4-%EB%B9%9B%EB%82%98%EB%8A%94-%EB%B0%A4%ED%95%98%EB%8A%98-%EB%B3%84%EC%9D%B4-%EB%B9%9B%EB%82%98%EB%8A%94-%EB%B0%A4-%EB%B3%84%EB%B9%9B%EC%9D%B4-%EB%B0%98%EC%A7%9D%EC%9D%B4%EB%8A%94-%EC%A7%84%ED%95%9C-%ED%8C%8C%EB%9E%80%EC%83%89-%EB%B0%B0%EA%B2%BD%EC%9D%B4-%EC%9A%B0%EC%A3%BC-%EA%B3%B5%EA%B0%84%EC%97%90%EC%84%9C-%EB%B0%98%EC%A7%9D%EC%9D%B4%EA%B3%A0-%EA%B9%9C%EB%B0%95%EC%9E%85%EB%8B%88%EB%8B%A4.jpg?s=640x640&k=20&c=NanprfAXAzLlLycyfoy0B_MangAxEAsrTLfIBp6HfIM=");
}


.backbutton  {
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight:bold;
    color: #333;
    position: absolute;
    left : 100px; 
    top:50px;
    text-shadow:  1px 1px 1px rgba(255,255,255,.5) ;
    background: #f5f5dc;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px;
  }


.content {

  border-style: double;
  width: 80vw;
  height: auto;
  padding: 5px;
  margin:10vw auto;
  display: flex; 
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.content .wrap {
  padding:50px auto; 
  border-radius:20px;
  color: #ededed; 
}
.content h1 {
  font-size: 1.4em;
  margin-bottom:30px;
}
.content p {
  font-size: 1.2em;  
  line-height: 1.5em;
  margin: 15px 0;
}

/* revieSection */

#section {
  display: flex;
  flex-direction: column; 
}

#reviewCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reviewCard {
  width: 100%; 
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;

}

#reviewSection {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .reviewForm {
    display: grid;
    grid-gap: 10px;
    
    
  }
  
  .reviewForm label {
    display: block;
    font-weight: bold;
  }
  
  .reviewForm input,
  .reviewForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .submitReviewBtn {
    background-color: gray;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .submitReviewBtn:hover {
    background-color: #0056b3;
  }
  .deleteReviewBtn {
    background-color: gray;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .deleteReviewBtn:hover {
    background-color: #0056b3;
  }
  .reviewUpdate {
    background-color: gray;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .reviewUpdate:hover {
    background-color: #0056b3;
  }

  .updateContainer{
    display: none;
  }
  .deleteContainer{
    display: none;
  }
